@use '../../helpers' as *;
.tech-bot{
  padding: fluid(60,20) 0;
  @include media(lg){
    padding: 0;
  }
  @include media(xl){
    min-height: 100vh;
  }
  &__content{
    border-radius: rem(20) rem(20) 0 0;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%);
    text-align: center;
    padding: rem(30) rem(20);
    width: 90%;
    margin: 0 auto;
    @include media(md){
      width: 75%;
    }
    @include media(lg){
      padding: rem(64) rem(20);
      border-radius: rem(80) rem(80) 0 0;
    }
    &--box{
      @include media(md){
        width: rem(460);
        margin: 0 auto;

      }
    }
    &--text{
      padding-bottom: rem(32);
      margin: 0 auto;
      @include media(md){
        max-width: rem(240);
      }
      @include media(lg){
        max-width: rem(400);
      }
      span{
        color: var(--white);
        font-weight: 600;
      }
    }
  }
  &__mocUp{
    position: absolute;
    top: 0;
    display: none;
    @include media(md){
      display: block;
    }
    figure{
      img{
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    &.--first{
      left: rem(20);
      width: 20vw;
      top: rem(40);
      @include media(lg){
        width: 32vw;
      }
      @include media(rwd){
        width: 25vw;
      }
    }
    &.--second{
      right: rem(20);
      width: 18vw;
      @include media(lg){
        width: 28vw;
      }
      @include media(rwd){
        width: 25vw;
      }
    }
  }
  .blur.--first{
    top: -25%;
    right: -10%;
  }
  .blur.--second{
    bottom: -10%;
    left: -10%;
    @include media(lg){
      bottom: -15%;
    }
  }
}