@use '../helpers' as *;
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(40px);
  background: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(16);
    padding: fluid(32,16) fluid(64,16);
  }

  &__logo{
    display: block;
  }

  &__links{
    align-items: center;
    justify-content: space-between;
    gap: rem(4);
    margin-right: rem(20);
    display: none;
    @include media(sm){
      display: flex;
    }
    @include media(lg){
      margin-right: 0;
    }
  }
  &__right{
    display: flex;
  }
}

// Навигация
.menu {
  display: none;
  list-style: none;
  flex-wrap: wrap;
  column-gap: rem(30);
  row-gap: rem(7);
  @include media(lg){
    display: flex;
  }

  &-item {
    position: relative;
    list-style: none;
    color: var(--header);
    font-weight: 700;

    &-has-children {
      display: flex;
      align-items: center;
      column-gap: rem(5);
      .caret{
        display: inline-block;
        width: rem(20);
        height: rem(25);
        transition: all .3s ease;
      }
    }

    a {
      font-size: rem(16);
      text-decoration: none;
      transition: color 0.3s ease;
      line-height: 1.25;

      &:hover {
        color: var(--accent);
      }
    }

    // Подменю
    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--bg);
      padding: rem(7) 0;
      min-width: rem(200);
      list-style: none;
      z-index: 10;

      .menu-item {
        padding: rem(5) rem(10);
        white-space: nowrap;
        position: relative;
        &:before{
          content: '';
          width: 10px;
          height: 10px;
          margin-right: rem(5);
          border-radius: 100%;
          display: inline-block;
        }
        &:nth-child(even){
          &:before{
            background: var(--bg-light);
          }
        }
        &:nth-child(odd){
          &:before{
            background: var(--accent);
          }
        }
      }
    }

    &:hover > .sub-menu {
      display: block;
    }

    &:hover > .caret {
      transform: rotate(90deg);
    }
  }
}

// Бургер
.burger {
  perspective: 600px;
  width: rem(32);
  height: rem(32);
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: block;
  @include media(lg){
    display: none;
  }
  input {
    display: none;
    & + div {
      span {
        --rotateY: 0deg;
        transform: rotateY(var(--rotateY));
        transform-style: preserve-3d;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: var(--accent);
        backface-visibility: hidden;
        transition: transform .6s cubic-bezier(.2, .64, .48, 1.24);
        &:before,
        &:after {
          --rotate: 0deg;
          content: '';
          position: absolute;
          width: 16px;
          height: 2px;
          border-radius: 1px;
          top: 50%;
          left: 50%;
          background: var(--bg-light);
          backface-visibility: hidden;
          transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
        }
        &:first-child {
          &:before {
            --rotate: -45deg;
          }
          &:after {
            --rotate: 45deg;
          }
        }
        &:last-child {
          --rotateY: 180deg;
          &:before {
            box-shadow: 0 -5px 0 var(--bg-light), 0 rem(5) 0 var(--bg-light);
          }
          &:after {
            display: none;
          }
        }
      }
    }
    &:checked + div {
      span {
        &:first-child {
          --rotateY: -180deg;
        }
        &:last-child {
          --rotateY: 0deg;
        }
      }
    }
  }
}

// Mobile Menu
.mobileMenu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background: var(--bg);
  width: 75%;
  opacity: 0;
  transform: translateX(-70%);
  transition: all .3s ease;
  z-index: -1;
  box-shadow: 0 0 rem(20) var(--accent);
  &.active{
    transform: translateX(0);
    opacity: 1;
    z-index: 110;
  }
  &__wrapper{
    padding-top: rem(20);
    padding-left: rem(30);
    padding-right: rem(20);
    padding-bottom: rem(70);
    color: var(--header);
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo{
    margin-bottom: rem(100);
  }
  &__menu{
    .menu-item {
      font-size: rem(22);
      margin-bottom: rem(16);
      .sub-menu {
        //position: relative;
        .menu-item{
          white-space: normal;
          margin-bottom: rem(2);
          font-size: rem(18);
          padding: rem(7) rem(4);
        }
      }
      a{
        text-decoration: none;
      }
      &:hover{
        > .sub-menu{
          display: none;
        }
        > .caret {
          transform: none;
        }
      }
    }
    .menu-item-has-children{
        &.active{
          .sub-menu{
            display: block;
          }
        }
    }
  }
  &__contacts{
    margin-top: rem(40);
    display: flex;
    align-items: center;
    gap: rem(4);
    .title{
      color: var(--header);
    }
    .cta-icon-block{
      margin: 0;
      margin-bottom: rem(16);
    }
  }
}
