@use '../../helpers/index' as *;
.btn-menu {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: rem(48);
  height: rem(48);
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:var(--color-dark-10);
    stroke-width:3;
    stroke-linecap:round;
  }
  .top {
    stroke-dasharray: 40 139;
  }
  .bottom {
    stroke-dasharray: 40 180;
  }
  &.active {
    transform: rotate(45deg);
    .top {
      stroke-dashoffset: -98px;
    }
    .bottom {
      stroke-dashoffset: -138px;
    }
  }
}